In [112]:
#importing pandas
import pandas as pd

In [113]:
# Load data into a DataFrame
df = pd.read_excel('C:/Users/PrabhatShukla/Downloads/Sample-Superstore.xlsx', engine='openpyxl')

In [114]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,US-2021-103800,2021-01-03,2021-01-07,Standard Class,DP-13000,Darren Powers,Consumer,United States,Houston,...,77095,Central,OFF-PA-10000174,Office Supplies,Paper,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16.448,2,0.2,5.5512
1,2,US-2021-112326,2021-01-04,2021-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2,0.8,-5.4870
2,3,US-2021-112326,2021-01-04,2021-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
3,4,US-2021-112326,2021-01-04,2021-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3,0.2,-64.7748
4,5,US-2021-141817,2021-01-05,2021-01-12,Standard Class,MB-18085,Mick Brown,Consumer,United States,Philadelphia,...,19143,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3,0.2,4.8840

### Ist Query Part 1: For each Category display the Product Name which has second Highest Sale?

In [116]:
# Group by 'Category' and then sort within each group by 'Sales' (basically sorting in the decending order)
df_sorted = df.sort_values(by=['Category', 'Sales'], ascending=[True, False])

# Add a rank column within each Category group
df_sorted['rank'] = df_sorted.groupby('Category')['Sales'].rank(method='first', ascending=False)

# Find the product whose rank is 2 category-wise by filtering that:
second_highest_sales = df_sorted[df_sorted['rank'] == 2]

# Displaying the final result
result = second_highest_sales[['Category', 'Product Name', 'Sales']]
print(result)

             Category                                       Product Name  \
3584        Furniture  Riverside Palais Royal Lawyers Bookcase, Royal...
1203  Office Supplies               Ibico EPK-21 Electric Binding System
5894       Technology              Canon imageCLASS 2200 Advanced Copier

         Sales
3584   4404.90
1203   9449.95
5894  17499.95

### Ist Query Part 2: For each Sub-Category display the Product Name which has second Highest Sale?

In [118]:
# Group by 'Sub-Category' and then sort within each group by 'Sales' (basically sorting in the decending order)
df_sorted = df.sort_values(by=['Sub-Category', 'Sales'], ascending=[True, False])

# Add a rank column within each Sub-Category group
df_sorted['rank'] = df_sorted.groupby('Sub-Category')['Sales'].rank(method='first', ascending=False)

# Find the product whose rank is 2 sub-category-wise by filtering that:
second_highest_sales = df_sorted[df_sorted['rank'] == 2]

# Displaying the final result
result = second_highest_sales[['Sub-Category', 'Product Name', 'Sales']]
print(result)

     Sub-Category                                       Product Name  \
2906  Accessories  Plantronics CS510 - Over-the-Head monaural Wir...
8350   Appliances  Sanyo 2.5 Cubic Foot Mid-Size Office Refrigera...
7964          Art  Boston Heavy-Duty Trimline Electric Pencil Sha...
1203      Binders               Ibico EPK-21 Electric Binding System
3204    Bookcases  Riverside Palais Royal Lawyers Bookcase, Royal...
1085       Chairs       HON 5400 Series Task Chairs for Big and Tall
7255      Copiers              Canon imageCLASS 2200 Advanced Copier
5266    Envelopes  Ames Color-File Green Diamond Border X-ray Mai...
5915    Fasteners          Alliance Super-Size Bands, Assorted Sizes
2391  Furnishings               Tenex Antistatic Computer Chair Mats
6119       Labels  Dot Matrix Printer Tape Reel Labels, White, 50...
4624     Machines   3D Systems Cube Printer, 2nd Generation, Magenta
1654        Paper                 Multicolor Computer Printout Paper
8422       Phones                            Samsung Galaxy Mega 6.3
7369      Storage      Tennsco 16-Compartment Lockers with Coat Rack
4446     Supplies        High Speed Automatic Electric Letter Opener
1849       Tables         Bretford Rectangular Conference Table Tops

          Sales
2906   2309.650
8350   2518.290
7964    385.600
1203   9449.950
3204   4228.704
1085   3785.292
7255  13999.960
5266    419.900
5915     93.360
2391   1196.860
6119    629.184
4624   9099.930
1654    629.100
8422   4367.896
7369   2591.560
4446   4912.590
1849   3610.848

### II Query Part 1: For each Category find all the other product names except the product which has second highest sale.

In [120]:
# Group by 'Category' and then sort within each group by 'Sales' (basically sorting in the decending order)
df_sorted = df.sort_values(by=['Category', 'Sales'], ascending=[True, False])

# Add a rank column within each Category group
df_sorted['rank'] = df_sorted.groupby('Category')['Sales'].rank(method='first', ascending=False)

# Find the product whose rank is 2 category-wise by filtering that and then remove that particular product row:
filtered_df = df_sorted[df_sorted['rank'] != 2]

# Displaying the final result
result = filtered_df[['Category', 'Product Name', 'Sales']]
print(result)

        Category                                       Product Name     Sales
8347   Furniture       HON 5400 Series Task Chairs for Big and Tall  4416.174
2108   Furniture  Chromcraft Bull-Nose Wood Oval Conference Tabl...  4297.644
3204   Furniture  Riverside Palais Royal Lawyers Bookcase, Royal...  4228.704
1600   Furniture              DMI Eclipse Executive Suite Bookcases  4007.840
1085   Furniture       HON 5400 Series Task Chairs for Big and Tall  3785.292
...          ...                                                ...       ...
3460  Technology             RCA Visys Integrated PBX 8-Line Router     2.210
1413  Technology                          Maxell 4.7GB DVD+R 5/Pack     1.980
5456  Technology                          Maxell 4.7GB DVD+R 5/Pack     1.980
8337  Technology                          Maxell 4.7GB DVD-R 5/Pack     1.584
9071  Technology                          Maxell 4.7GB DVD-R 5/Pack     0.990

[10191 rows x 3 columns]

### II Query Part 2: : For each Sub-Category find all the other product names except the product which has second highest sale.

In [122]:
# Group by 'Sub-Category' and then sort within each group by 'Sales' (basically sorting in the decending order)
df_sorted = df.sort_values(by=['Sub-Category', 'Sales'], ascending=[True, False])

# Add a rank column within each Sub-Category group
df_sorted['rank'] = df_sorted.groupby('Sub-Category')['Sales'].rank(method='first', ascending=False)

# Find the product whose rank is 2 sub-category-wise by filtering that and then remove that particular product row:
filtered_df = df_sorted[df_sorted['rank'] != 2]

# Displaying the final result
result = filtered_df[['Sub-Category', 'Product Name', 'Sales']]
print(result)

     Sub-Category                                       Product Name     Sales
5685  Accessories                 LogitechÂ P710e Mobile Speakerphone  3347.370
4070  Accessories                      Logitech diNovo Edge Keyboard  2249.910
9279  Accessories                      Logitech diNovo Edge Keyboard  2249.910
4035  Accessories  Plantronics Savi W720 Multi-Device Wireless He...  2025.360
4915  Accessories  Plantronics CS510 - Over-the-Head monaural Wir...  1979.700
...           ...                                                ...       ...
6755       Tables                               KI Conference Tables    35.445
3119       Tables     Anderson Hickey Conga Table Tops & Accessories    27.414
9115       Tables     Anderson Hickey Conga Table Tops & Accessories    24.368
2510       Tables           Balt Split Level Computer Training Table    19.600
4749       Tables           Balt Split Level Computer Training Table     2.210

[10177 rows x 3 columns]

### III Query Part 1: Calculating the distribution of region percentages for each category based on the sales of products in that region.

In [124]:
# Group by 'Category' and 'Region' to get the total sales for each combination
category_region_sales = df.groupby(['Category', 'Region'])['Sales'].sum().reset_index()

# Group by 'Category' to get the total sales for each category
category_sales_total = df.groupby('Category')['Sales'].sum().reset_index()

# And now merging the two dataframes to calculate the percentage
merged_df = pd.merge(category_region_sales, category_sales_total, on='Category', suffixes=('_region', '_category'))

# Calculating the percentage for each region within a category
merged_df['Region_Percentage'] = (merged_df['Sales_region'] / merged_df['Sales_category']) * 100

# Displaying the final result
result = merged_df[['Category', 'Region', 'Region_Percentage']]
print(result)

           Category   Region  Region_Percentage
0         Furniture  Central          21.800350
1         Furniture     East          28.119553
2         Furniture    South          15.541442
3         Furniture     West          34.538656
4   Office Supplies  Central          22.983775
5   Office Supplies     East          28.919297
6   Office Supplies    South          17.167982
7   Office Supplies     West          30.928946
8        Technology  Central          20.290234
9        Technology     East          31.901442
10       Technology    South          17.713192
11       Technology     West          30.095132

### III Query Part 2: Calculating the distribution of region percentages for each sub-category based on the sales of products in that region.

In [126]:
# Group by 'Sub-Category' and 'Region' to get the total sales for each combination
category_region_sales = df.groupby(['Sub-Category', 'Region'])['Sales'].sum().reset_index()

# Group by 'Category' to get the total sales for each Sub-Category
sub_category_sales_total = df.groupby('Sub-Category')['Sales'].sum().reset_index()

# And now merging the two dataframes to calculate the percentage
merged_df = pd.merge(category_region_sales, sub_category_sales_total, on='Sub-Category', suffixes=('_region', '_sub-category'))

# Calculating the percentage for each region within a sub-category
merged_df['Region_Percentage'] = (merged_df['Sales_region'] / merged_df['Sales_sub-category']) * 100

# Displaying the final result
result = merged_df[['Sub-Category', 'Region', 'Region_Percentage']]
print(result)

   Sub-Category   Region  Region_Percentage
0   Accessories  Central          20.286779
1   Accessories     East          26.904819
2   Accessories    South          16.296273
3   Accessories     West          36.512128
4    Appliances  Central          21.792199
..          ...      ...                ...
63     Supplies     West          38.794925
64       Tables  Central          18.822679
65       Tables     East          19.193401
66       Tables    South          21.111505
67       Tables     West          40.872415

[68 rows x 3 columns]